html,
body {
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;
  background-color: #ccb7fa;
  user-select: none;
}

#container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
  border: 10px dashed rgb(124, 76, 13);
  padding: 20px;
  border-radius: 20px;
}

#input-field {
  color: #432000;
  background-color: #dce1eb;
  border-radius: 8px;
  font-size: 20px;
  border: none;
  padding: 15px;
  text-align: center;
  font-family: Rubik, sans-serif;
}

#add-button {
  color: #fdfdfd;
  background-color: #ac485a;
  border-radius: 8px;
  font-size: 20px;
  border: none;
  padding: 15px;
  text-align: center;
  font-family: Rubik, sans-serif;
  margin-top: 10px;
}
#add-button:hover {
  background-color: #da873a;
  cursor: pointer;
  border: #ffffff solid 1px;
}
#heading {
  text-align: center;
}
#image {
  width: 90px;
  margin: auto;
}
#image:hover{
    transform: scale(1.2) ;
}
ul > li {
  flex-grow: 1;
  list-style-type: none;
  background-color: #fffdf8;
  color: #ac485a;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  font-family: Rubik, sans-serif;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  user-select: none;
}
ul > li:hover {
  background-color: #ffecc7;
}
#shopping-list {
  padding: 0px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
